# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

#yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

#typescript cache
tsconfig.tsbuildinfo

#output directory
dist
